* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: #e0e0e0;
  word-break: break-all;
}
a{
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.totalWrap {
  display: none;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
.totalWrap::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.52);
}
.totalWrap::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/dj.jpg) fixed;
  z-index: -1;
  background-size: cover;
  filter: blur(8px);
}

/* //header css start form here  */
.logo_img {
  width: 60px;
}

.logo_img img {
  width: 100%;
  display: block;
}

.header {
  background: #21242e;
  padding: 5px 20px;
}

.logOutPrt {
  font-size: 20px;
  color: #6cf2e9;
  cursor: pointer;
}
.track-name{
  color: #fff;
}

@media screen and (max-width: 767px) {
  .volumeSlider {
    display: none;
  }
  .slider_container {
    flex: 1 0 0;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
  }

  .player {
    padding: 14px 20px 5px;
    
  }

  .player .details {
    flex: 1 0 0 !important;
  }
  .player .buttons{
    flex: 0 0 auto;
  }
  .playpause-track{
    font-size: 30px;
  }
  .next-track, .prev-track{
    display: none;
  }

}
















.authSection {
  display: none;
  background: url(../images/dj.jpg) no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  mix-blend-mode: multiply;
  z-index: 1;
}

.authSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: multiply;
}
.authInnerSect{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-box {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  padding: 0 40px;
  border-radius: 3px;
}

.logIngLogo {
  text-align: center;
}

.logIngLogo h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
.logInButtonar{
  background: #6cf2e9;
  padding: 0 50px;
  line-height: 48px;
  color: #000;
  border: none;
  border-radius: 26px;
}
.logInButtonar:focus{
  outline: none;
}
.social-login {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0 15px 0;
  border-top: 1px solid #eee;
}

.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align: center;
}

.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}

.social-login a:first-child {
  background-color: #49639F;
}

.social-login a:last-child {
  background-color: #DF4A32;
}

.email-login,
.email-signup {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.u-form-group {
  width: 100%;
  margin-bottom: 20px;
}

.u-form-group input {
  width: 100%;
  height: 52px;
  outline: none;
  border: 1px solid #ffffff91;
  padding: 0 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: transparent;
  font-size: 16px;
}
.u-form-group input:focus {
  border-color: #5fd5cd;
  outline: none;
}

.u-form-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: none;
  color: #fcfcfc;
  font-size: 14px;
}
.forgot-password:hover{
  color: #6cf2e9;
}
.extraLoginBoxlink{
  color: #fff;
}
.extraLoginBoxlink a{
  color: #5fd5cd;
  text-decoration: none;
}
.extraLoginBoxlink a:hover{
  color: #5fd5cd;
  text-decoration: none;
}

.welcomeNoneInr {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  text-align: center;
}

.welcomeNoneInr h4 {
  font-size: 24px;
  margin-bottom: 0;
}



/* ///player css start form hrere  */
.eachPlayerSong {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  -ms-box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid  rgba(255, 255, 255, 0.24);
  /* border: 1px solid #6cf2e9; */
  margin-top: 16px;
  border-radius: 4px;
  position: relative;
}

.eachPlayerSong {}

.eachPlayerSong .songIcon {
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;

}
.eachPlayerSong .songIcon img{
  filter: invert(1);
}

.eachPlayerSong .songInfo {
  padding-left: 20px;
  flex: 0 0 calc(100% - 80px);
  max-width: calc(100% - 80px);
}

.eachPlayerSong .songInfo h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  color: #6cf2e9;
}
.eachPlayerSong .songInfo p {
  font-size: 14px;
  margin-bottom: 0;
  color: #f3f3f3;
}
.favouriteSong{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #00ccb2;
  cursor: pointer;
  font-size: 18px;
}
.eachPlayerSong.active .favouriteSong{
  color: #fff;
}
/* //player style .csss */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #21242e;
  display: none;
}

.buttons {
  display: flex;
  align-items: center;

}

/* The slider itself */
.seek_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #a5b7bc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: 0;
  left: 0;
}

/* Mouse-over effects */
.seek_slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 6px;
  /* Set a specific slider handle width */
  height: 6px;
  /* Slider handle height */
  background: #6cf2e9;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.seek_slider::-moz-range-thumb {
  width: 6px;
  /* Set a specific slider handle width */
  height: 6px;
  /* Slider handle height */
  background: #6cf2e9;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.player .details {
  flex: 0 0 300px;
  padding: 10px;
}

.playpause-track,
.prev-track,
.next-track {
  color:#6cf2e9;
}

.prev-track,
.next-track {
  font-size: 20px;
}

.slider_container {
  flex: 1 0 0;
  position: relative;
}

.eachPlayerSong.active {
  border: 1px solid #6cf2e9;
  background: rgba(0, 0, 0, 0.4);
}

.uploadSongs {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}


/* //upload songs  */
.uploadSongsWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 0 30px;
}

#uploadFile {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 30px;

}

.dropIdicatate {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  max-width: 414px;
  width: 100%;
  padding: 20px 30px;
  margin: 0 auto;
  position: relative;
}

.dropIdicatate h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.dropIdicatate span {
  background: #39c5be;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}

.closeUploadWindow {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  line-height: 30px;
  color: #39c5be;
}

.uploadProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50%;
  background: #d8d8d8;
  display: none;
}

.uploadProgressBar span {
  display: block;
  background: #fa0a0a;
  height: 2px;
  width: 0;
}
