*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #e0e0e0;
    padding-bottom: 100px;
}
.totalWrap{
    display: none;
}

/* //header css start form here  */
.logo_img{
    width: 60px;
}
.logo_img img{
    width: 100%;
    display: block;
}
.header{
    background: #fff;
    padding: 5px 20px;
}
.logOutPrt{
    font-size: 20px;
    color: #00ccff;
    cursor: pointer;
}
@media screen and (max-width: 767px){
  .volumeSlider{
    display: none;
  }
  .slider_container {
    flex: 1 0 0;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
  }
.player {
  padding-top: 20px;
}
.player .details {
  flex: 0 0 220px !important;
}


}

















.login-box{
    position:relative;
    margin: 40px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 8px 13px 11px -9px rgba(0, 0, 0, 0.4);
    -moz-box-box-shadow: 8px 13px 11px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 13px 11px -9px rgba(0, 0, 0, 0.4);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
  }
  .lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active{
    color: var(--mc);
  }
  .social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0 15px 0;
    border-top: 1px solid #eee;
}
  .social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child{
    background-color: #49639F;
  }
  .social-login a:last-child{
    background-color: #DF4A32;
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .u-form-group input[type="email"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .authSection{
      display: none;
  }
  .u-form-group button{
    /* width:50%;
    background-color: var(--mc);
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase; */
  }
  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }
.welcomeNoneInr{
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  text-align: center;
}
.welcomeNoneInr h4{
  font-size: 24px;
  margin-bottom: 0;
}



/* ///player css start form hrere  */
.eachPlayerSong{
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  -ms-box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 6px 10px -4px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: 16px;
  border-radius: 4px;
}
.eachPlayerSong {

}
.eachPlayerSong .songIcon{
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;

}
.eachPlayerSong .songInfo{
  padding-left: 20px;
}
.eachPlayerSong .songInfo h6{
  /* margin-bottom: 0; */
}


/* //player style .csss */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #ffffff;
}
.buttons{
  display: flex;
  align-items: center;

}

/* The slider itself */
.seek_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #a5b7bc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: 0;
  left: 0;
}

/* Mouse-over effects */
.seek_slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 6px; /* Set a specific slider handle width */
  height: 6px; /* Slider handle height */
  background: #0099c6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.seek_slider::-moz-range-thumb {
  width: 6px; /* Set a specific slider handle width */
  height: 6px; /* Slider handle height */
  background: #0099c6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.player .details{
  flex: 0 0 300px;
  padding: 10px;
}
.playpause-track, .prev-track, .next-track{
  color: #0099c6;
}
.prev-track, .next-track{
  font-size: 20px;
}
.slider_container{
  flex: 1 0 0;
  position: relative;
}

.eachPlayerSong.active{
  background:#39c5be;
}
.uploadSongs{
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}


/* //upload songs  */
.uploadSongsWrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#uploadFile{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;  
  padding: 30px;
  
}

.dropIdicatate{
  text-align: center;
  background: rgba(255,255,255,0.2);
  border: 1px solid #fff;
  -webkit-box-flex: 0;
  max-width: 414px;
  -ms-flex: 0 0 414px;
  flex: 0 0 414px;
  padding: 20px 30px;
  margin: 0 auto;
  position: relative;
}
.dropIdicatate h2{
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.dropIdicatate span{
    background:#39c5be;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
}
.closeUploadWindow {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  line-height: 30px;
  color: #39c5be;
}